<p id="notice"><%= notice %></p>

<h1>Tickets</h1>
<hr>

<%= link_to 'Novo ticket', new_ticket_path, class: "btn btn-primary" %>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col">Ultima atualização</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.name, ticket_dailies_url(ticket) %></td>
        <td class="text-center"><span class="badge bg-success rounded-pill"><%= ticket.status.capitalize %></span></td>
        <td class="text-center"><%= @last_update[ticket.id].strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
