<% unless notice == nil %>
  <div class="alert alert-primary alert-dismissible fade show" style="margin-top: 16px; margin-bottom: 16px;"role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1>Tickets</h1>
<hr>

<%= link_to 'Novo ticket', new_ticket_path, class: "btn btn-primary" %>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col">Ultima atualização</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td class="vertical-middle"><%= link_to ticket.name, ticket_dailies_url(ticket) %></td>
        <td class="text-center vertical-middle"><%= bs_status_badge ticket %> </td>
        <td class="text-center vertical-middle"><%= (date_ty_simplifier ticket.updated_at).capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
