<% unless notice == nil %>
  <div class="alert alert-primary alert-dismissible fade show" style="margin-top: 16px; margin-bottom: 16px;"role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1>Tickets</h1>
<hr>

<%= link_to 'Novo ticket', new_ticket_path, class: "btn btn-primary" %>
<br><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th class="text-center" scope="col">Ultima atualização</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td class="vertical-middle"><%= link_to ticket.name, ticket_dailies_url(ticket) %></td>
        <td class="text-center vertical-middle"><%= (date_ty_simplifier ticket.updated_at).capitalize %></td>
        <td class="text-center vertical-middle">
          <%=  
            button_to( (ticket.open? ? 'Fechar' : 'Reabrir'),
                      ticket_path(ticket.id),
                      params: {:ticket => {:id => ticket.id, :status => (ticket.open? ? "closed" : "open")}},
                      method: :put, data: { confirm: ("Tem certeza que quer " + (ticket.open? ? "fechar" : "reabrir") + " o ticket " + ticket.name) },
                      class: "btn btn-outline-" + (ticket.open? ? 'danger' : 'primary') + " btn-sm")
            %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
