<h1 class="text-center"><%= @ticket.name %>
  <span onclick="copyToClipboard('<%= @ticket.name %>', 'ticketcopyicon', 'fa-copy');" ><i id="ticketcopyicon" class="far fa-copy fa-xs" ></i></span>
</h1> 
<h3 class="text-center"><%= @ticket.past_days %> dias </h3>
<% unless notice == nil %>
  <div class="alert alert-primary alert-dismissible fade show" style="margin-top: 16px; margin-bottom: 16px;"role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>


<%= render 'form_status_update' %>

<br /><br />

<h3>Links 
  <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseNewLink" role="button" aria-expanded="false" aria-controls="collapseNewLink">Add</a>
  <%= link_to "Show All", ticket_links_url(@ticket), class: "btn btn-primary btn-sm" %>
</h3>

<div class="collapse" id="collapseNewLink">
  <%= render 'form_new_link', link: @link %>
</div> <br/>

<% unless @links.size == 0 %>
  <br />
  <ul class="list-group list-group-horizontal">
    <% @links.each do |link| %>
      <li class="list-group-item"><%= link_to link.label, link.url, target: "_blank" %> </li>
    <% end %>
  </ul>
<% end %>
</ul>

<br /><br />

<h3>Dailies 
  <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseNewDaily" role="button" aria-expanded="false" aria-controls="collapseNewDaily">Add</a>
  <%= link_to "Show All", ticket_dailies_url(@ticket), class: "btn btn-primary btn-sm" %>
</h3>

<div class="collapse" id="collapseNewDaily">
  <%= render 'form_new_daily', ticket_dailies: @daily %>
</div> <br/>

<table class="table table-striped bg-white">
  <thead>
    <tr>
      <th scope="col" class="text-center">Date/Time</th>
      <th scope="col">Note</th>
    </tr>
  </thead>

  <tbody>
    <% @last_dailies.each do |daily| %>
      <tr>
        <td class="text-center"> 
          <%= daily.updated_at.strftime("%d/%m - %H:%M") %></td>
        <td><%= link_to daily.notes_truncated, ticket_daily_url(@ticket.id, daily) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
