<%= form_with(model: link, url: [@ticket, link], class: "row g-3") do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
  </div>

  <div class="col-auto">
    <%= form.text_field :label, class: "form-control", placeholder: :label %>
  </div>

  <div class="col-auto">
    <%= form.text_field :url, class: "form-control", placeholder: :url %>
  </div>

  <div class="col-auto">
    <%= form.submit 'Salvar', :class => "btn btn-primary mb-3" %>
  </div>
<% end %>
