<br/>
<h1>Dashboard</h1>
<hr />

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Open tickets</h5>
                <hr />
                <ul>
                    <% @open_tickets.each do |ticket| %>
                        <li><%= link_to ticket.name, ticket %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About yesterday</h5>
                <hr />
                <ul>
                    <li><%= @from_yesterday[:num_dailies] %> dailies</li>
                    <li><%= @from_yesterday[:num_worked_tasks] %> worked tickets</li>
                    <li>Journal <%= true_false_icon @from_yesterday[:has_journal] %></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">General</h3>
                <hr/>
                <table class="table bg-white table-striped">
                    <thead>
                        <tr>
                        <th scope="col" colspan="1"></th>
                        <th scope="col"><%= @last_month.strftime("%B") %></th>
                        <th scope="col"><%= @today.strftime("%B") %></th>
                        <th scope="col" colspan="1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" colspan="1" class="text-center">Closed Tickets</th>
                            <td><%= @current_month_vs_las_month[:closed_tickets][:last_month] %></td>
                            <td><%= @current_month_vs_las_month[:closed_tickets][:current_month] %></td>
                            <td style="color: <%= @current_month_vs_las_month[:closed_tickets][:perc_diff] >= 0 ? "green" : "red" %>;">
                                <% if @current_month_vs_las_month[:closed_tickets][:perc_diff]  > 0 %>
                                    &gt;
                                <% elsif @current_month_vs_las_month[:closed_tickets][:perc_diff]  < 0 %>
                                    &lt;
                                <% end %>
                                <%= @current_month_vs_las_month[:closed_tickets][:perc_diff] %>%
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" colspan="1" class="text-center">Journals</th>
                            <td><%= @current_month_vs_las_month[:journals][:last_month].size %></td>
                            <td><%= @current_month_vs_las_month[:journals][:current_month].size %></td>
                            <td style="color: <%= @current_month_vs_las_month[:journals][:perc_diff] >= 0 ? "green" : "red" %>;">
                                <% if @current_month_vs_las_month[:journals][:perc_diff] > 0 %>
                                    &gt;
                                <% elsif @current_month_vs_las_month[:journals][:perc_diff] < 0 %>
                                    &lt;
                                <% end %>
                                <%= @current_month_vs_las_month[:journals][:perc_diff].abs %>%
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                 <h3 class="text-center">Journal</h3>
                <hr/>

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col" colspan="1"></th>
                        <th scope="col" class="text-center"><%= @last_month.strftime("%B") %></th>
                        <th scope="col" class="text-center"><%= @today.strftime("%B") %></th>
                        </tr>
                    </thead>
                     <tr>
                        <th>Meetings</th>
                        <td>
                            <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_meetings_lm"  data-set="<%= @current_month_vs_las_month[:journals][:last_month].meetings.values %>" ></canvas>
                            </div>
                        </td>
                        <td>
                             <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_meetings_cm"  data-set="<%= @current_month_vs_las_month[:journals][:current_month].meetings.values %>" ></canvas>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Current Task</th>
                        <td>
                            <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_currenttask_lm"  data-set="<%= @current_month_vs_las_month[:journals][:last_month].current_task.values %>" ></canvas>
                            </div>
                        </td>
                        <td>
                            <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_currenttask_cm"  data-set="<%= @current_month_vs_las_month[:journals][:current_month].current_task.values %>" ></canvas>
                            </div>
                        </td>
                    </tr>
                     <tr>
                        <th>Team Interaction</th>
                        <td>
                            <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_teaminteraction_lm"  data-set="<%= @current_month_vs_las_month[:journals][:last_month].team_interaction.values %>" ></canvas>
                            </div>
                        </td>
                        <td>
                            <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_teaminteraction_cm"  data-set="<%= @current_month_vs_las_month[:journals][:current_month].team_interaction.values %>" ></canvas>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Humor</th>
                        <td>
                            <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_humor_lm"  data-set="<%= @current_month_vs_las_month[:journals][:last_month].humor.values %>" ></canvas>
                            </div>
                        </td>
                        <td>
                            <div style=" height: 200px;" class="d-flex justify-content-center">
                                <canvas id="chart_humor_cm"  data-set="<%= @current_month_vs_las_month[:journals][:current_month].humor.values %>" ></canvas>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>