<br/>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Hello João</h3>
                <hr />
                <div class="row">
                    <div class="col-6">
                        <blockquote class="blockquote">
                            <p class="pb-2">
                            "<%= @quote.sentence %>"
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-0">
                            <%= @quote.author %>
                        </figcaption>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <%= image_tag "avatar.png", width: 150, height: 150 %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">About your tickets</h4>
                <hr />
                <ul>
                    <li>Open: <%= @number_of_open_tickets %> </li>
                    <li>PRs opened: <%= @number_of_open_prs %> </li>
                    <li>Last note: Recorded <%= date_difference_in_words(@last_note.updated_at, @today) %> ago, for ticket <%= @last_note.ticket.name %> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Today Journal</h4>
                <hr />
                <% if @day_journal.empty? %>
                    <h4 class="text-center"> No journal registered yet </h4>
                <% else %>
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">Meetings</div>
                            <div class="col text-center">Current Task</div>
                            <div class="col text-center">Team Interaction</div>
                            <div class="col text-center">Humor</div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col text-center"><i class="<%= get_journal_topic_icon  @day_journal.first.meetings %>"></i></div>
                            <div class="col text-center"><i class="<%= get_journal_topic_icon  @day_journal.first.current_task %>"></i></div>
                            <div class="col text-center"><i class="<%= get_journal_topic_icon  @day_journal.first.team_interaction %>"></i></div>
                            <div class="col text-center"><i class="<%= get_journal_topic_icon  @day_journal.first.humor %>"></i></div>
                        </div>
                    </div>
                    <br />
                <% end %>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="historicTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#sevendays-tab-pane" type="button" role="tab" aria-controls="sevendays-tab-pane" aria-selected="true">7 days</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#thirtydays-tab-pane" type="button" role="tab" aria-controls="thirtydays-tab-pane" aria-selected="false">30 days</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#oneyear-tab-pane" type="button" role="tab" aria-controls="oneyear-tab-pane" aria-selected="false">1 year</button>
                        </li>
                        </ul>
                        <div class="tab-content" id="historicTabContent">
                        <br/>
                        <div class="tab-pane fade show active" id="sevendays-tab-pane" role="tabpanel" aria-labelledby="sevendays-tab" tabindex="0">
                            <%= render 'period_report', data: @time_report["7"] %>
                        </div>
                        <div class="tab-pane fade" id="thirtydays-tab-pane" role="tabpanel" aria-labelledby="thirtydays-tab" tabindex="0">
                            <%= render 'period_report', data: @time_report["30"] %>
                        </div>
                        <div class="tab-pane fade" id="oneyear-tab-pane" role="tabpanel" aria-labelledby="oneyear-tab" tabindex="0">
                            <%= render 'period_report', data: @time_report["365"] %>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
