<% classes = calendar_class_chain(day, @reference_date, @today, @journals) %>

<% if classes.size == 0 %>
    <td><%= day.day %></td>
<% else %>
    <td class="<%= classes %>">
        <% if day.to_date == @today.to_date && @reference_date.month == day.month %>
            <% if @today_journal == nil %>
                <%= link_to (day.day.to_s), new_journal_path %>
            <% else %>
                <%= link_to (day.day.to_s), edit_journal_path(@today_journal) %>
            <% end %>
        <% elsif day.month == @reference_date.month %>
            <% journal_from_day = get_journal_from_day(day, @journals)%>
            <%= journal_from_day == nil ? day.day.to_s : (link_to( (day.day.to_s), journal_from_day, remote: true))  %>
        <% else %>
            <%= day.day.to_s %>
        <% end %>
    </td>
<% end %>