<%= form_with(model: journal) do |form| %>
  <% if journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meetings %>
    <%= form.number_field :meetings %>
  </div>

  <div class="field">
    <%= form.label :current_task %>
    <%= form.number_field :current_task %>
  </div>

  <div class="field">
    <%= form.label :team_interaction %>
    <%= form.number_field :team_interaction %>
  </div>

  <div class="field">
    <%= form.label :humor %>
    <%= form.number_field :humor %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
