  <div class="form-group p-2 bg-light border rounded-3 journal-cb-group-box bg-white">
    <p><%= form.label field %></p>
    <div class="form-check form-check-inline">
      <%= form.radio_button field, 0, class: "form-check-input" %>
      <%= form.label :bad, class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button field, 1, class: "form-check-input" %>
      <%= form.label :medium, class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button field, 2, class: "form-check-input" %>
      <%= form.label :good, class: "form-check-label" %>
    </div>    
    
  </div>

  <br /> 