<% unless notice == nil %>
  <div class="alert alert-primary alert-dismissible fade show" style="margin-top: 16px; margin-bottom: 16px;"role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<br/>
<div class="d-flex justify-content-center ">
  <div class="calendar">

    <header>
      <!-- Month name -->
      <h2><%= @reference_date.strftime("%B").capitalize %></h2>

      <%= link_to "", journals_path(:m => @previous_month.month, :y => @previous_month.year), :class  => "btn-prev fa-solid fa-angle-left" %>
      <%= link_to "", journals_path(:m => @next_month.month, :y => @next_month.year), :class  => "btn-next fa-solid fa-angle-right" %>

    </header>

    <table class="calendar-table bg-white">

      <thead>

        <tr>
          <td>Sun</td>
          <td>Mon</td>
          <td>Tue</td>
          <td>Wed</td>
          <td>Thu</td>
          <td>Fri</td>
          <td>Sat</td>
        </tr>

      </thead>

      <tbody>

        <% @month_days.each do |week| %>
          <tr>
            <%= render partial: 'calendar_day', collection: week, as: :day %>
          </tr>
        <% end %>

      </tbody>

    </table>

  </div> <!-- end calendar -->

</div> <!-- end container -->