<br />

<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @journal.updated_at.strftime("%d/%m/%Y") %></h1><br />
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col">
        <p class="text-center">Meetings</p>
        <p class="text-center"><i class="<%= get_journal_topic_icon  @journal.meetings %>"></i></p>
      </div>
      <div class="col">
        <p class="text-center">Current task</p>
        <p class="text-center"><i class="<%= get_journal_topic_icon  @journal.current_task %>"></i></p>
      </div>
      <div class="col">
        <p class="text-center">Team interaction</p>
        <p class="text-center"><i class="<%= get_journal_topic_icon  @journal.team_interaction %>"></i></p>
      </div>
      <div class="col">
        <p class="text-center">Humor</p>
        <p class="text-center"><i class="<%= get_journal_topic_icon  @journal.humor %>"></i></p>
      </div>
    </div><br /><br />
    <div class="row">
      <%= @journal.comments %>
    </div>
  </div>
</div>