<br><br>
<h3><%= section_name %></h3>
<% if list.size == 0 %>
<h4> Sem registros </h4>
<% else %> 
<br>
<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |daily| %>
      <tr>
        <td><%= daily.updated_at.strftime("%d/%m/%Y %I:%M %p") %></td>
        <td><%= daily.notes_truncated %></td>
        <td><%= link_to 'Show', ticket_daily_url(@ticket.id, daily) %></td>
        <td><%= link_to 'Edit', edit_ticket_daily_path(@ticket.id,daily) %></td>
        <td><%= link_to 'Destroy', ticket_daily_url(@ticket.id, daily), :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br><br>