<br><br>
<h3><%= section_name %></h3>
<% if list.size == 0 %>
<h4> Sem registros </h4>
<% else %> 
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Nota</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% list.each do |daily| %>
      <tr>
        <td><%= daily.updated_at.strftime("%d/%m/%Y %I:%M %p") %></td>
        <td><%= daily.notes_truncated %></td>
        <td><%= link_to 'Mostrar', ticket_daily_url(@ticket.id, daily), class: "btn btn-primary btn-sm" %></td>
        <% if is_today %>
          <td><%= link_to 'Editar', edit_ticket_daily_path(@ticket.id,daily), class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to 'Excluir', ticket_daily_url(@ticket.id, daily), :data => {:confirm => 'Tem certeza que quer exluir essa nota?'}, :method => :delete, class: "btn btn-danger btn-sm" %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br><br>