<p id="notice"><%= notice %></p>

<h1>Notas <%= @ticket.name %></h1>

<br>
<p><strong> Duração: </strong><%= @past_days %> dias </p>
<p><strong> Número de notas: </strong><%= @dailies.size %> </p>

<br>

<%= link_to 'Nova nota', new_ticket_daily_path, class: "btn btn-primary" %>
<%= link_to 'Voltar', tickets_path, class: "btn btn-primary" %>

<hr />

<%= render 'daily_list_section', section_name: "De hoje", list: @from_today %>
<%= render 'daily_list_section', section_name: "De ontem", list: @from_yesterday %>
<%= render 'daily_list_section', section_name: "Restantes", list: @rest_of_dailies %>
