<p id="notice"><%= notice %></p>

<h1>Notas <%= @ticket.name %></h1>
<br>

<%= link_to 'Nova nota', new_ticket_daily_path %>
<%= link_to 'Voltar', tickets_path%>

<%= render 'daily_list_section', section_name: "De hoje", list: @from_today %>
<%= render 'daily_list_section', section_name: "De ontem", list: @from_yesterday %>
<%= render 'daily_list_section', section_name: "Restantes", list: @rest_of_dailies %>
