<% unless notice == nil %>
  <div class="alert alert-primary alert-dismissible fade show" style="margin-top: 16px; margin-bottom: 16px;"role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1><%= @ticket.name %></h1>

<%= render 'form_status_update', ticket: @ticket %>
 <br/>  

<br>
<% unless @dailies.size == 0 %>
  <p><strong> Primeira nota: </strong><%= @dailies.last.updated_at.strftime("%d/%m/%Y") %> </p>
<% end %>
<% if @ticket.closed? %>
  <p><strong> Última nota: </strong><%= @dailies.first.updated_at.strftime("%d/%m/%Y") %> </p>
<% end %>
<p><strong> Duração: </strong><%= @past_days %> dias </p>
<p><strong> Número de notas: </strong><%= @dailies.size %> </p>

<hr />

<%= link_to 'Nova nota', new_ticket_daily_path, class: "btn btn-primary" %>
<%= link_to 'Voltar', tickets_path, class: "btn btn-primary" %>

<hr />

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-today-tab" data-bs-toggle="tab" data-bs-target="#nav-today" type="button" role="tab" aria-controls="nav-today" aria-selected="true">Hoje</button>
    <button class="nav-link" id="nav-yesterday-tab" data-bs-toggle="tab" data-bs-target="#nav-yesterday" type="button" role="tab" aria-controls="nav-yesterday" aria-selected="false">Ontem</button>
    <button class="nav-link" id="nav-others-tab" data-bs-toggle="tab" data-bs-target="#nav-others" type="button" role="tab" aria-controls="nav-others" aria-selected="false">Restantes</button>
  </div>
</nav>
<br>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-today" role="tabpanel" aria-labelledby="nav-today-tab">
    <br>
    <%= render 'daily_list_section', list: @from_today %>
  </div>
  <div class="tab-pane fade" id="nav-yesterday" role="tabpanel" aria-labelledby="nav-yesterday-tab">
    <%= render 'daily_list_section', list: @from_yesterday %>
  </div>
  <div class="tab-pane fade" id="nav-others" role="tabpanel" aria-labelledby="nav-others-tab">
    <%= render 'daily_list_section', list: @rest_of_dailies %>
  </div>
</div>

