<% unless notice == nil %>
  <div class="alert alert-primary alert-dismissible fade show" style="margin-top: 16px; margin-bottom: 16px;"role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1><%= @ticket.name %></h1>

<%= render 'form_status_update', ticket: @ticket %>
 <br/>  

<br>
<% unless @dailies.size == 0 %>
  <p><strong> Primeira nota: </strong><%= @dailies.last.updated_at.strftime("%d/%m/%Y") %> </p>
<% end %>
<% if @ticket.closed? %>
  <p><strong> Última nota: </strong><%= @dailies.first.updated_at.strftime("%d/%m/%Y") %> </p>
<% end %>
<p><strong> Duração: </strong><%= @past_days %> dias </p>
<p><strong> Número de notas: </strong><%= @dailies.size %> </p>

<hr />

<%= link_to 'Nova nota', new_ticket_daily_path, class: "btn btn-primary" %>
<%= link_to 'Voltar', :back, class: "btn btn-primary" %>

<br /><br />

<% if @dailies.empty? %>
  <h4>Sem registros</h4>
<% else %>
  <%= render 'dailies_nav_panel' %>
<% end %>

