<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @daily.task_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @daily.notes %>
</p>

<%= link_to 'Edit', edit_daily_path(@daily) %> |
<%= link_to 'Back', dailies_path %>
