<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @daily.notes %>
</p>

<%= link_to 'Edit', edit_ticket_daily_path(@daily) %> |
<%= link_to 'Back', ticket_dailies_url(@ticket) %>
