<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Work</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to 'Work', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to 'Tickets', tickets_path, class: (current_page?(tickets_path) ? "nav-link active" : "nav-link") %>
            <%= link_to 'Journal', journals_path, class: (current_page?(journals_path) ? "nav-link active" : "nav-link") %>
            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#lastupdatesmodal">Last updates</a>
          </div>
        </div>
      </div>
    </nav>

    <%= render '/layouts/last_updates_modal' %>
    <div class="container">
      <%= yield %>
    </div>
    <br/>
    <footer class="py-3 my-4 bg-dark footer mt-auto">
      <p class="text-center text-white">© <%= @today.year %> João Gouveia</p>
    </footer>
  </body>
</html>
